
@model IEnumerable<GreekIslands.Models.island>

@{
    ViewBag.Title = "Index";
}
<div class="container">
    <p style="margin-top:30px;">
        @Html.ActionLink("Add Island", "Create", null, new { @class = "btn btn-md create-button" })
    </p>
    <div class="table-responsive">
        <table class="table table-hover">
            <tr class="column-name">
                @*returns the display name for the specified model.*@
                @*Renders the Name property within the Display Attribute.*@
                <td>
                    @Html.DisplayNameFor(model => model.Picture)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Name)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Capital)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.Region)
                </td>
                <td>
                    @Html.DisplayNameFor(model => model.BestFor)
                </td>
                <td>
                    <p style = "color:#34608d;">Action</p>
                </td>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    @*returns the markup for each of the properties within the model.*@
                    @*Renders the actual contents of the Property specified.*@
                    <td>
                        <img src="@Url.Content(item.Picture)" height="40" width="55"/>
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Capital)
                    </td>
                    <td>
                        @Html.DisplayFor(m => item.Region)
                    </td>

                    <td>
                        @Html.DisplayFor(m => item.BestFor)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        @Html.ActionLink("Details", "Details", new { id = item.Id })
                        @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                    </td>
                </tr>

            }
        </table>
    </div>
</div>
    