
@model IEnumerable<GreekIslands.Models.island>

@{
    ViewBag.Title = "Index";
}

<h2>Islands</h2>

<table class="table">
    <tr>
        <td>
            @*returns the display name for the specified model.*@
            @*Renders the Name property within the Display Attribute.*@
            @Html.DisplayNameFor(model => model.Picture)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Name)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Capital)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.Region)
        </td>
        <td>
            @Html.DisplayNameFor(model => model.BestFor)
        </td>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @*returns the markup for each of the properties within the model.*@
                @*Renders the actual contents of the Property specified.*@

                @Html.DisplayFor(m => item.Picture)
            </td>
            <td>
                @Html.DisplayFor(m => item.Name)
            </td>
            <td>
                @Html.DisplayFor(m => item.Capital)
            </td>
            <td>
                @Html.DisplayFor(m => item.Region)
            </td>

            <td>
                @Html.DisplayFor(m => item.BestFor)
            </td>
        </tr>

    }
</table>

    